body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #333;
  color: #fff;
}

.header .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.header nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.header nav ul li a {
  color: #fff;
  text-decoration: none;
}



.home-section h1 span {
  color: #007bff;
}

.about-section,
.projects-section {
  padding: 2rem;
  background-color: #f5f5f5;
  text-align: center;
}

.college-details {
  padding: 2rem;
  background-color: #e9ecef;
  border-left: 4px solid #007bff;
}

.contact-button {
  background-color: #007bff;
  border: none;
  padding: 0.5rem 1rem;
  color: #fff;
  cursor: pointer;
}

.profile-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.profile-content {
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 50px;
  max-width: 900px;
  border-radius: 10px;
}

.profile-picture {
  flex: 1;
  margin-right: 30px; /* Space between the image and text */
}

.profile-picture img {
  width: 300px;
  height: 400px;
  border-radius: 50% 50% 50% 50%/60%;
  object-fit: cover;

}

.profile-text {
  flex: 2;
  text-align: left;
}

.profile-text h1 {
  font-size: 36px;
  color: #333;
}

.profile-text h1 span {
  color: #ff6600;
}

.profile-text p {
  font-size: 18px;
  color: #666;
  margin-top: 10px;
}